body {
    font-family: Helvetica, Tahoma;
    font-size: 14px;
    margin: 8px 0 0 0;
    color: #282828;
}

h2, h3 {
    text-align: center;
    font-weight: normal;
    font-family: Helvetica;
}

h2 {
    font-size: 34px;
    line-height: 42px;
    font-style: italic;
    margin-top: 0;
    color: #494d58;
}

h3 {
    font-size: 32px;
    text-transform: uppercase;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover, a:active {
    outline: none;
}

menu {
    margin: -42px auto 27px;
    padding: 0;
    height: 36px;
}

.content_container {
    display: inline-block;
    width: 855px;
    vertical-align: top;
}

/******************************************** left *************************************************/
#left {
    width: 245px;
    display: inline-block;
    margin: 0 35px 0 0;
}

#menuTov {
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 0 15px 0;
    box-shadow: 0 0 65px 0 #E3E3E3 inset;
}

#menuTov h1 {
    background: #1f9d26;
    color: #fff;
    margin: 0;
    border-radius: 8px 8px 0 0;
    padding: 12px 0 12px 55px;
}

#menuTov ul {
    font-size: 18px;
    margin-left: 20px;
    line-height: 36px;
}

#menuTov ul a:hover {
    color: #1f9d26;
}

/*************************************************  header  *********************************************/

.mainMenu {
    padding: 0;
    height: 36px;
    list-style: none;
    text-align: center;
}

.mainMenu li {
    display: inline-block;
    background: url(../images/header/bgMenu.png) repeat-x;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    position: relative;
    width: 20.5%;
}

.mainMenu li a {
    display: block;
    width: 100%;
}

.mainMenu li a:hover {
    color: #282828;
    text-decoration: none;
}

.mainMenu li:hover {
    background: url(../images/header/bgMenuHover.png) repeat-x;
}

.mainMenu li.product {
    padding: 0 10px 0 24px;
    width: 105px;
}

.mainMenu li.product:hover {
    border-radius: 5px 5px 0 0;
    background: url(../images/header/bgProductHover.png) repeat-x;
}

.mainMenu li.product:hover a {
    color: #fff;
}

.mainMenu li.product a img {
    margin: 0 0 0 9px;
}

.productMenu {
    display: none;
    width: 139px;
    position: absolute;
    background: #1f981f;
    margin: 0 0 0 -24px;
    padding: 8px 0 15px 0;
    border-radius: 0 0 5px 5px;
}

.productMenu li {
    background: none;
    /*width:139px;*/
    padding: 0 0 0 24px;
    margin: 0;
    text-transform: none;
    display: block;
    height: 32px;
}

.productMenu li a {
    color: #fff;
}

.productMenu li a:hover {
    text-decoration: underline;
}

.productMenu li:hover {
    background: none;
}

.mainMenu li:hover .productMenu {
    display: block;
}

#basket {
    position: absolute;
    right: 33px;
    top: 125px;
}

#basket #info {
    margin: 8px 0 0 0;
}

#basket #info p {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
}

#basket .carButtom {
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    background: url(../images/header/bgMenu.png) repeat-x;
    padding: 10px 20px 10px 8px;
    border-radius: 5px;
}

#basket .carButtom:hover {
    background: url(../images/header/bgMenuHover.png) repeat-x;
}

#basket a img {
    vertical-align: text-bottom;
    margin: 0 14px 0 0;
}

#basket h3 {
    padding: 20px 0 46px;
    border-bottom: 2px solid #636363;
    margin: 0;
    text-align: left;
}

.boxShadow {
    text-align: center;
    margin: 0;
    opacity: 0.5;
}

#goods {
    padding: 35px 25px;
    overflow-y: auto;
    height: 72%;
}

#itemGood {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px 0;
}

#itemGood #blockImage {
    position: relative;
}

#goods .imgGood {
    border: 1px solid #dddddd;
    width: 96px;
    height: 96px;
    float: left;
    margin: 0 10px 0 0;
}

#goods .butDel {
    position: absolute;
    top: -17px;
    left: -7px;
    background: url(../images/header/butDel.png) no-repeat;
    border: none;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

#blockButton .total span, #goods .total span {
    font-weight: normal;
    font-size: 14px;
}

#goods input {
    width: 27px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    text-align: center;
    font-size: 13px;
    margin: 12px 3px 0 0;
}

#goods #name {
    width: 321px;
    float: left;
    margin: -9px 76px 0 0;
}

#goods #name a {
    cursor: inherit;
}

#goods #price, #blockButton .total, #goods .total {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    font-family: Tahoma;
    margin: 12px 0 0 0;
}

#goods .total {
    margin: 0 0 20px 0;
}

#blockButton .total {
    margin: 15px 0 12px 0;
    text-align: right;
    width: 100%;
}

#issue #blockButton {
    position: inherit;
}

#blockButton {
    clear: both;
    position: absolute;
    top: 22px;
    right: 70px;
}

#blockButton .contShop,
#blockButton .checkout,
#contacts .orderCall,
.butOrderCall,
.formGetConsult .getConsultation,
#itemBijut .butBuy,
#itemBijut .butMore {
    height: 36px;
    background: url(../images/header/bgProductHover.png) repeat-x;
    display: inline-block;
    padding: 0 13px;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #888;
    margin: 12px 0 0 0;
    cursor: pointer;
    border: none;
}

#itemBijut .valueLong {
    width: 135px;
    padding: 3px;
    border: 1px solid #eee;
}

#blockButton .contShop,
#blockButton .checkout {
    margin-left: 10px;
    float: right;
}

#blockButton .contShop:hover,
#blockButton .checkout:hover,
#contacts .orderCall:hover,
.butOrderCall:hover,
.formGetConsult .getConsultation:hover,
.searchButton:hover {
    background: url(../images/header/bgGreenHover.png) repeat-x;
    box-shadow: 0 0 4px 0 #888;
}

header,
#akciya,
#consultation {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: inset 0px 0px 120px 0 #FFF546;
    padding: 30px 30px 18px 30px;
}

header {
    position: relative;
}

header p {
    margin: 0;
}

#infoShop {
    float: left;
    text-transform: uppercase;
    width: 50%;
}

#infoShop .name {
    font-size: 27px;
    margin: 0 0 9px;
}

#infoShop .slogan {
    font-size: 19px;
    margin: 9px 0 0;
}

#contacts {
    float: right;
    font-size: 16px;
    text-align: right;
    margin: -13px 0 10px;
    width: 50%;
}

#contacts p {
    margin: 0;
}

#contacts p strong {
    font-size: 12px;
    margin: 0 60px 0 0;
}

#contacts .phone {
    font-size: 23px;
    margin: 0;
    font-family: Helvetica;
}

#contacts .orderCall {
    padding: 0 25px 0 10px;
    font-size: 14px;
    margin: 10px 0 0;
}

#contacts .orderCall img {
    margin: 5px 15px 0 0;
    float: left;
}

header #description {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 15px 0 0;
    font-size: 19px;
    line-height: 35px;
}

#description h2 {
    font-size: 45px;
    font-style: normal;
    margin: 0 0 7px 0;
}

#akciya {
    height: 173px;
    width: 875px;
    padding: 31px 70px 30px 20px;
}

#akciya .info {
    float: left;
    font-size: 33px;
    line-height: 38px;
    font-style: italic;
    text-align: center;
    font-family: Tahoma;
    margin: 16px 0 0 0;
}

.freeDelivery {
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    margin: 0 -5px 5px 0;
    float: right;
}

.endAction {
    font-size: 25px;
    margin: 0 0 22px 0;
}

#akciya .info p {
    margin: 0;
}

#akciya #timer {
    float: right;
}

#blockTimer {
    background: url(img/bgDial.png) no-repeat;
    width: 70px;
    height: 50px;
    float: left;
    margin: 0 23px 0 0;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 19px;
    padding: 4px 8px;
}

#blockTimer p {
    letter-spacing: normal;
    font-weight: normal;
    font-size: 18px;
    color: #595959;
    margin: 6px 0 0 0;
}

#problems, #weWork {
    width: 710px;
    margin: -15px auto 95px;
}

#itemProblem {
    display: inline-table;
    font-family: Tahoma;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    margin: 0;
    text-align: center;
    width: 137px;
    position: relative;
    font-weight: bold;
}

#itemProblem img {
    width: 105px;
}

#itemProblem:last-child {
    margin: 0;
}

#itemProblem p {
    margin: 4px 0;
}

#consultation {
    width: 858px;
    height: 236px;
    padding: 24px 40px 38px 44px;
    background: url(../images/header/bgConsult.jpg) no-repeat center #f6f0b2 !important;
}

#consultation h2 {
    font-size: 40px;
    margin: 0;
}

.formGetConsult {
    float: right;
    margin: 30px 55px 0 0;
}

.formGetConsult input {
    display: block;
    width: 189px;
    height: 28px;
    border: 1px solid #474747;
    padding: 0 15px;
    background: #fdfdf2;
    margin: 0 0 10px 0;
}

.formGetConsult .getConsultation {
    background: url(img/bgProductHover.png) repeat-x;
    border: none;
    height: 36px;
    text-transform: none;
    font-size: 20px;
    width: 263px;
    margin: 7px 0 0 -19px;
}

.assorty {
    font-size: 65px;
    margin: 0;
    color: #494d58
}

.numberModels {
    text-align: center;
    font-style: italic;
    font-family: Tahoma;
    font-size: 15px;
    margin: 25px 0 0 0;
}

.nameBijut {
    font-size: 44px;
    font-style: italic;
    font-family: Tahoma;
    margin: 15px 0;
    text-transform: none;
    color: #494d58;
}

#blockBijut {
    margin: 0 auto 45px;
}

#itemBijut {
    transition: top 0.5s, left 0.5s;
    width: 180px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    display: inline-table;
    margin: 0 13px 20px 0;
    border-spacing: 5px 5px;
    padding: 15px 12px;
    font-family: Tahoma;
    background: rgb(255, 230, 251);
    background: rgb(255, 230, 251);
    background: -moz-linear-gradient(top, rgba(255, 230, 251, 1) 0%, rgba(255, 252, 254, 1) 8%, rgba(255, 255, 255, 1) 50%, rgba(255, 252, 254, 1) 91%, rgba(255, 230, 251, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 230, 251, 1)), color-stop(8%, rgba(255, 252, 254, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(91%, rgba(255, 252, 254, 1)), color-stop(100%, rgba(255, 230, 251, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 230, 251, 1) 0%, rgba(255, 252, 254, 1) 8%, rgba(255, 255, 255, 1) 50%, rgba(255, 252, 254, 1) 91%, rgba(255, 230, 251, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 230, 251, 1) 0%, rgba(255, 252, 254, 1) 8%, rgba(255, 255, 255, 1) 50%, rgba(255, 252, 254, 1) 91%, rgba(255, 230, 251, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 230, 251, 1) 0%, rgba(255, 252, 254, 1) 8%, rgba(255, 255, 255, 1) 50%, rgba(255, 252, 254, 1) 91%, rgba(255, 230, 251, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 230, 251, 1) 0%, rgba(255, 252, 254, 1) 8%, rgba(255, 255, 255, 1) 50%, rgba(255, 252, 254, 1) 91%, rgba(255, 230, 251, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6fb', endColorstr='#ffe6fb', GradientType=0);
    text-align: center;
    vertical-align: top;
}

#itemBijut .name {
    margin: 0 0 14px;
    font-size: 15px;
    line-height: 16px;
    height: 30px;
}

#itemBijut .name input {
    border: none;
    background: none;
    cursor: pointer;
    white-space: normal;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 160px;
}

#itemBijut .name input:hover {
    color: #1f9d26;
}

#itemBijut span {
    text-transform: uppercase;
    font-size: 13px;
}

#itemBijut .price {
    font-size: 13px;
    margin: 22px 0 6px 0;
}

#itemBijut .price span {
    font-weight: bold;
    font-size: 17px;
}

#itemBijut img {
    box-shadow: 0 10px 6px -10px #000000;
    width: 165px;
    height: 165px;
    display: block;
}

#itemBijut .butMore, #itemBijut .butBuy {
    background: url(img/bgMenu.png) repeat-x;
    color: #282828;
    text-shadow: none;
    padding: 0 7px;
    font-size: 12px;
}

#itemBijut .butMore:hover {
    box-shadow: 0 0 4px 0 #888;
}

#itemBijut .butBuy {
    background: url(img/bgProductHover.png) repeat-x;
    color: #fff;
}

#itemBijut .butBuy:hover {
    background: url(img/bgGreenHover.png) bottom repeat-x;
    box-shadow: 0 0 4px 0 #888;
}

#blockBijut #cell, #reviews #cell {
    background: none;
    width: 8px;
    display: table-cell;
}

#blockBijut .sizeRing {
    text-transform: uppercase;
    font-size: 11px;
    margin: 15px 0 0 0;
}

#blockBijut select {
    width: 45px;
    height: 20px;
}

#blockBijut .sizeRing span {
    margin: 0 0 0 15px;
}

#itemBijut a {
    display: inline-block;
}

#whyWe {
    margin: 30px auto 15px;
    width: 710px;
}

.whyWe {
    display: block;
    margin: 0 auto 30px;
    color: #494d58;
}

#weWork {
    margin: 30px auto 35px;
}

#weWork #itemProblem {
}

.weWork {
    font-size: 52px;
    margin: 0;
}

#itemProblem .imgArrow {
    position: absolute;
    left: 121px;
    width: 35px;
}

.reviews {
    font-size: 45px;
}

#reviews {
    margin: 0 auto 75px;
}

#left #reviews #itemReviews, #reviews #itemReviews {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    box-shadow: inset 0px 0px 65px 0 #e3e3e3;
    padding: 15px 15px 50px;
    color: #494d58;
    margin: 0 0 15px 0;
    position: relative;
    display: block;
    width: auto;
}

#reviews #itemReviews {
    width: 240px;
    display: table-cell;
}

#reviews #itemReviews:last-child {
    margin: 0;
}

#itemReviews p {
    text-align: center;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}

#itemReviews .image {
    margin: 0 0 12px;
}

#itemReviews .image img {
    border-radius: 100px;
}

#itemReviews .name {
    font-size: 16px;
    font-weight: bold;
}

#itemReviews .city {
    margin: 2px 0 10px;
    font-size: 12px;
}

#itemReviews .text {
    text-align: left;
    text-indent: 23px;
}

#itemReviews .vk {
    bottom: 20px;
    left: 0;
    position: absolute;
}

#itemReviews .vk img {
    position: absolute;
    left: 0;
    bottom: -7px;
}

#itemReviews .vk a {
    border-bottom: 1px dotted #494d58;
    margin: 0 0 0 40px;
}

#reviews #cell {
    width: 20px;
}

#blockFooter {
    background: #f7f7f7;
    padding: 27px 0;
    margin: 40px 0 0;
}

footer {
    width: 1160px;
    margin: 0 auto;
    display: table;
}

footer #infoShop .name {
    margin: 10px 0 0 0;
}

/* FILTR --------------------------------------------------------------------------------*/
.nameFiltr {
    margin-top: 0;
    font-size: 16px;
}

#filtr span {
    margin: 0 5px 0 0;
    font-size: 12px;
}

#filtr input[type="checkbox"] {
    margin: 0 5px 2px 0;
    vertical-align: middle;
}

#filtr .listName {
    margin: 0 0 0 -57px;
}

#filtr .listName li {
    float: left;
    margin: 0 0 10px 30px;
    cursor: pointer;
}

#filtr .listName li:hover {
    color: #1f9d26;
}

.blockTov {
    width: 305px !important;
    margin: 0 20px 0 0 !important;
    float: left;
}

.blockTov img {
    width: 250px !important;
    margin: 0 0 50px 0;
    height: 250px !important;
    display: initial !important;
}

.blockTov .sizeRing {
    text-align: left;
    margin: 0 0 25px 30px;
}

/* DESCRIPTION ------------------------------------------------*/
#description .nameDesc {
    color: #1f9d26;
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

#description .price {
    font-size: 20px;
    text-align: right;
    margin: 0 0 8px 0;
    clear: right;
}

#description .price span {
    font-weight: bold;
    font-size: 30px;
    font-family: Tahoma;
    margin: 0;
}

#description .butBuy {
    background: url("img/bgProductHover.png");
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    line-height: 34px;
    margin: 12px 0 0 0;
    padding: 0 13px;
    text-shadow: 1px 1px 1px #888;
    text-transform: uppercase;
    float: right;
    width: 104px;
    text-align: center;
    font-size: 18px;
    border: 0px;
}

#description .butBuy:hover {
    background: url(img/bgGreenHover.png) repeat-x;
    box-shadow: 0 0 4px 0 #888;
}

/*SEARCH--------------------------------------------*/
#search {
    margin: 0 0 20px 0;
}

#search input {
    border: 1px solid #cfcfcf;
    height: 36px;
    border-radius: 5px;
}

#search input[type="text"] {
    padding: 0 8px;
    width: 150px;
    font-size: 16px;
    color: #222;
}

.searchButton {
    background: url(img/bgProductHover.png) repeat-x;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    border: none !important;
    cursor: pointer;
    text-shadow: 1px 1px 1px #888;
}

.filterName {
    padding: 0 0 0 15px;
    margin: -10px 0 0;
    list-style: none;
}

.filterName li {
    float: left;
    margin: 8px 22px 14px -15px;
    border: 1px solid #999;
    border-radius: 4px;
}

.filterName li label {
    cursor: pointer;
    display: block;
    padding: 4px 6px;
}

.filterName li label input {
    display: none;
}

.filterButton, .filterButtonActive {
    display: none;
    color: #333;
    cursor: pointer;
    font-size: 15px;
    padding: 3px 5px;
    font-family: Arial;
    display: block;
    border: none;
    background: none;
}

.filterButtonActive, .activeButton, .filterName li:hover {
    color: #1f9d26;
    border-color: #1f9d26 !important;
    background: #f6f6f6;
    border-radius: 4px;
}

.filterButton:hover {
    color: #1f9d26;
    border-color: #1f9d26;
}

/* CSA 21 Jul 2014 - Input Radio */
#description {
    margin: 0 -5px 0 0;
}

#description #info {
    float: left;
    width: 235px;
}

#description #info div {
    line-height: 20px;
}

#dostavka {
    float: right;
    border: 1px solid #f733a6;
    padding: 10px;
    border-radius: 8px;
    width: 220px;
    margin: 0 0 20px 10px;
}

#dostavka h3 {
    margin: 0;
    color: #f733a6;
    font-size: 16px;
    text-transform: none;
    text-align: left;
}

#dostavka p {
    margin: 6px 0;
    font-size: 13px;
}

#description #price {
    float: right;
    clear: right;
    position: absolute;
    right: 20px;
    bottom: 0;
}