.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 10;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup{
    background-color: #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 40px 40px 40px 20px;
    position: fixed;
    top: 40%;
    visibility: hidden;
    z-index: 10;
    color:#1e1e1e;
    width:850px;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup h2{
    font-style:normal;
}
#popup_thanks{
    text-align:center;
}
.popup h3{
    color:#4d4d4d;
    margin:0 0 24px;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 30px;
    background:url(img/butClose.png) no-repeat;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
}
.close:hover {
}
.popup p, .popup div {
    margin-bottom: 30px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}
#basket .popup{
    width:821px;
    min-height:480px;
    padding: 15px 30px 30px;
    /*position:absolute;*/
    transform: translate(-50%, -330px);
}
#contacts .popup{
    width:581px;
    padding:40px 0 18px 0;
    font-size:13px;
    color:#444444;
}
#contacts .popup input{
    display:block;
    width:198px;
    height:32px;
    margin:0 auto 10px;
    border:1px solid #757575;
    padding:0 10px;
    border-radius:0;
}
#contacts .popup input[type="submit"]{
    border:none;
    border-radius:4px;
    width:auto;
    padding:0 15px;
    margin:9px auto 0;
    /*display:table-caption;*/
    height:36px;
}
#contacts .popup p{
    text-align:center;
    margin:35px 0 0 0;
}
#issue #goods{
    float:left;
    margin: 0px 35px 20px 20px;
    width: 450px;
    overflow-y:hidden;
    padding:0;
    height:auto;
}
#issue #goods #name{
    width:100%;
    float:none;
    margin:0;
}
#issue h3{
    border-bottom:none;
    padding-bottom:15px;
    border-bottom:2px solid #636363;
}
#issueForm{
    float:right;
    width:250px;
    margin:0 40px 0 20px;
}
#issueForm input{
    width:240px;
    height:35px;
    border:1px solid #757575;
    padding:0;
    margin:0 0 20px 0;
    padding:0 12px;
    border-radius:0;
}
#issueForm .styled-select{
    width: 230px;
    height: 35px;
    overflow: hidden;
    background:url(img/arrowSelect.png) right no-repeat #ededed;
    border:1px solid #757575;
}
#issueForm select{
    width:250px;
    height:35px;
    padding:0;
    margin:0 0 20px 0;
    border-radius:0;
    padding:7px 0 7px 10px;
    background: transparent;
    border:none;
}
.waypaid{
    text-transform:uppercase;
    margin-bottom:20px !important;
}